<h2>Update the drone</h2>
<form action="/drones/{{_id}}/edit" method="POST">

    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input">

    <label for="propeller-input">Propeller:</label>
    <input type="text" name="propellers" id="propeller-input">

    <label for="maxSpeed-input">Max Speed:</label>
    <input type="text" name="maxSpeed" id="maxSpeed-input">

    <button type="submit">Submit</button>

</form>